@{
    ViewBag.Title = "About";
}
<h2>Клиент-серверная система учета проектов осветительных установок <br>на платформе ASP.NET</h2>
<h3>@ViewBag.Message</h3>

Система осуществляет двустороннюю коммуникацию между пользователями и исполнителем работ
 по проектированию в светотехнической части.
Каждый пользователь может зарегистрироваться, создать проект и контролировать статус выполнения.
