@{
    ViewBag.Title = "Contact";
}
<h2>Кураев Алексей</h2>
<h3>@ViewBag.Message</h3>

<address>
    Москва<br />
    <abbr title="Phone">М.б.: 8-925-208-47-94</abbr>
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:lightpt@yandex.ru">lightpt@yandex.ru</a><br />
    <b>WhatsApp, Viber, Telegram</b>
</address>