@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h5>МГТУ им. Н.Э. Баумана</h5>
    <h5>ИНСТИТУТ СОВРЕМЕННЫХ ОБРАЗОВАТЕЛЬНЫХ ТЕХНОЛОГИЙ</h5>
    <h2>Итоговая аттестационная работа</h2>
    <p class="lead">Клиент-серверная система учета проектов осветительных установок на платформе ASP.NET</p>
    <p><a href="About" class="btn btn-primary btn-lg">Подробнее &raquo;</a></p>
    <h5>Программа профессиональной переподготовки:"Программирование на языках C/C++/C#"</h5>
    <h5>Группа: <b>ПР-60</b></h5>
    <h5>Слушатель: <b>Кураев А.С.</b></h5>
    <h5>Руководитель ИАР: <b>Дудник В.В.</b></h5>
</div>